body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#body{
  /* background-image: url("../public/real\ estate\ background\ image.jpeg"); */
  height: 100vw;
  width: 100vw;
}

body,
html {
  height: 100%;
  font-family:Arial;
}
  


/* #map {
  width: 100%;
  height: 100%;
  z-index:100;
  border: 1px solid red;
}
#mapSearchContainer{
  position:fixed;
  top:20px;
  right: 40px;
  height:30px;
  width:180px;
  z-index:110;
  font-size:10pt;
  color:#5d5d5d;
  border:solid 1px #bbb;
  background-color:#f8f8f8;
}
.pointer{
  position:absolute;
  top:86px;
  left:60px;
  z-index:99999;
} */

#card{
  width: 50%;
  height: 50%;
  border: 1px solid red;
  margin: 2%;
  box-shadow: 5px 5px 10px;
  
}


#detailsPlatform{
  position: absolute;
  width: 100vw;
  height: 100vh;
  filter: blur(8px);
  background-color: aqua;
  
}
#informationForDetailsPlatform{
  position: absolute;
  width: 80%;
  height: 80%;
  border: 1px solid red;
  background-color: aqua;
  filter: none;
  
}